.day-header {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #1F1F1F;
  width: 100%;
  background-color: #333;
  color: #9D9D9D;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.introduction {
  background-color: #ffe266;
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-size: 24px;
}

.intro-text {
  display: inline-block;
}

.img-container {
  width:100%;
}

.img {
  width: 100%;
}

.day-desc {
  padding-top:2rem;
  padding-bottom:2rem;
  font-size: 2rem;
}

.container h1 {
    font-size:64px;
}

.contact {
  background-color: #ffe266;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.nature-img-container {
  width: 30%;
  padding-left: .5rem;
  padding-right: .5rem;
}

.nature-img {
  width: 100%;
  box-shadow: 10px 10px 5px #888888;
}

.imgTable-footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.myCell {
  font-size: 18px;
}

.img-desc {
  padding-bottom: 1rem;
}

.myHeader {
  font-size: 24px;
}

.nature-pics {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

.contact-header {
  font-size: 36px;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a:link {
  color: #9D9D9D;
}

a:visited {
  color: #6D6D6D;
}

a:hover {
  color: #BDBDBD;
}

a:active {
  color: #8D8D8D;
}

.site-desc:hover {
  color: white;
}

.contact-table {
  table-layout: fixed;
  width: 100%;
}

.contact-table-label {
    text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.magic-phases {
  list-style-type: lower-latin;
}

.magic-phase-info {
  list-style-type: square;
}
