.day-header {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #1F1F1F;
  width: 100%;
}

.introduction {
  background-color: #ffe266;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 24px;
}

.intro-text {
  display: inline-block;
}

.rebecca {
  width:100%;
}

.rebecca-img {
  width: 100%;
}

.day-desc {
  padding-top:2rem;
  padding-bottom:2rem;
}
